
<div class="row">
	<div class="col-md-6 offset-3">
		<h1 class="text-info">You have reched the end of internet!</h1>
		<hr />
		<a class="btn btn-outline-success" asp-controller="Movies" asp-action="index">Go Home!</a>
	</div>
</div>
